@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 100%, 97%);
}

label {
  color: hsl(213, 96%, 18%);
  font-size: small;
  font-weight: 600;
}

.header-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: hsl(213 96% 18% / var(--tw-text-opacity));
  margin-bottom: 0.5rem;
}

.next-button {
  padding: 0.5rem 1rem;
  color: hsl(229, 24%, 87%);
  font-weight: 600;
  background-color: hsl(213, 96%, 18%);
  border-radius: 0.375rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.confirm {
  background-color: hsl(243, 100%, 62%);
}
/* .navball {
    border-width: 2px 2px;
} */

/* .backpanel {
    background-image: url("../assets/images/bg-sidebar-mobile.svg");
} */

/* .main {
    z-index: 10;
} */
